
section.cta.Wcover {
    background-image: url('../img/mobilecover.jpg');
    padding: 150px 0; 
    .overlay {
        background-color: fade-out(black, .6);
    }
}

@media(min-width: 992px) {
   section.cta.Wcover {
    padding: 250px 0;
   }
}



header.mobCover {
    padding: 70px 0; 
}




section.balls {
    background-image: url('../img/balls.jpg');
    background-position: center bottom;
}



.bg-primary1 {
    background: #214173;
    background: -webkit-linear-gradient(#214173,#ac3464);
    background: linear-gradient(#214173,#ac3464);
}

// WAM Styles
.wam-form-input {
    margin-bottom: 10px !important;
    box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding: 1.25rem 2rem;
    height: auto;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}
.wamsport-radio {
    .btn {
        cursor: pointer;
        border-radius: 5px;
        &.focus, &:focus {
            box-shadow: none;
        }
    }
}

